:root {
    --color:  #e53bf5;
    --dark-color:#57055f;
    --light-color: #f8cdfc;
}

$color: var(--color);
$dark-color: var(--dark-color);
$light-color: var(--light-color);



$standar-margin: 30px;

body {
    font-family: 'Poppins', sans-serif;;
 }
 
 h1, h2, h3, h4, h5 {
     color: $dark-color;
 }